body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: Arial, sans-serif; 
    background-color: #8ecae6;
    
}


/*tab styling*/
#tabAll, #tabWomen, #tabMen {
    background-color: #023047; 
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
}

.header h1 {
    margin-top: 2vh; 
}

.tabs {
    text-align: center;
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 
}

.tabs button {
    margin: 0 10px; 
    padding: 10px 20px; 
    
}


.user-container {
    max-height: 400px;
    overflow-y: auto;
    width: 40%; 
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    padding: 20px; 
    box-sizing: border-box;
    display: none;
    background-color: #219ebc;
    border-radius: 10px;

}

.user-info {
    text-align: center; 
    margin-bottom: 20px; 
    padding: 10px;
    background-color: #;
    border-radius: 10px;
}


.user-container div {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


h1 {
    color: #fff;
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: xx-large;
}



@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }

    .tabs button {
        margin-bottom: 10px; 
    }

    .user-container {
        width: 90%; 
    }
}
.footer {
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2; 
    text-align: center;
    position: absolute;
    bottom: 0; 
    left: 0;
    box-sizing: border-box;
}

.footer p {
    margin: 0;
    padding: 5px;
    color: #333; 
    font-size: 0.8em;
     
}

.header h1 a {
    color: #fff;
    text-decoration: none;
    font-family: inherit;
}

.header h1 a:hover {
    text-decoration: none;
}

 /* For chart */
 .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 50vh;
    width: 50vw;
    box-sizing: border-box;   
}

/* Media query for small screens, such as smartphones */
@media (max-width: 600px) {
    .chart-container {
        min-height: 300px; /* Minimum height for small screens */
        width: 100%;       /* Chart will take up the full width of the screen */
        margin-top: 20px;  /* Adjusted top margin for small screens */
    }
}

/* Media query for medium screens, such as tablets */
@media (max-width: 768px) {
    .chart-container {
        min-height: 400px; /* Increased minimum height for medium screens */
        width: 80%;        /* Slightly smaller width to leave space on the sides */
        margin-top: 30px;  /* Adjusted top margin for medium screens */
    }
}
/*lighthouse*/

.lighthouse-container {
  transform: scale(0.5);
  transform-origin: bottom center;
  height: 500px;
  width: 500px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: -75%;
  top: 0;
  right: 0;
  top: 100px;
}
.sun {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  left: -450px;
  top: -450px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
}
.ray_box {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray {
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 100%);
  background: linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 100%);
  margin-left: 10px;
  border-radius: 80% 80% 0 0;
  position: absolute;
  opacity: 0.1;
}
.ray1 {
  height: 170px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  top: -175px;
  left: 15px;
}
.ray2 {
  height: 100px;
  width: 8px;
  -webkit-transform: rotate(220deg);
  top: -90px;
  left: 75px;
}
.ray3 {
  height: 170px;
  width: 50px;
  -webkit-transform: rotate(250deg);
  top: -80px;
  left: 100px;
}
.ray4 {
  height: 120px;
  width: 14px;
  -webkit-transform: rotate(305deg);
  top: 30px;
  left: 100px;
}
.ray5 {
  height: 140px;
  width: 30px;
  -webkit-transform: rotate(-15deg);
  top: 60px;
  left: 40px;
}
.ray6 {
  height: 90px;
  width: 50px;
  -webkit-transform: rotate(30deg);
  top: 60px;
  left: -40px;
}
.ray7 {
  height: 180px;
  width: 10px;
  -webkit-transform: rotate(70deg);
  top: -35px;
  left: -40px;
}
.ray8 {
  height: 120px;
  width: 30px;
  -webkit-transform: rotate(100deg);
  top: -45px;
  left: -90px;
}
.ray9 {
  height: 80px;
  width: 10px;
  -webkit-transform: rotate(120deg);
  top: -65px;
  left: -60px;
}
.ray10 {
  height: 190px;
  width: 23px;
  -webkit-transform: rotate(150deg);
  top: -185px;
  left: -60px;
}
#cloud_one {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  width: 150px;
  background-color: #e5e5e5;
  left: -350px;
  border-radius: 3rem;
  animation: cloudmove 12s infinite alternate linear;
}
#cloud_one::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background-color: #e5e5e5;
  top: -35px;
  left: 30px;
  border-radius: 3rem;
}
#cloud_one::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background-color: #e5e5e5;
  top: -30px;
  left: 75px;
  border-radius: 3rem;
}
#cloud_two {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  width: 150px;
  background-color: #e5e5e5;
  top: -200px;
  left: 450px;
  border-radius: 3rem;
  animation-delay: 2s;
  animation: cloudmove2 8s infinite alternate linear;
}
#cloud_two::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background-color: #e5e5e5;
  top: -35px;
  left: 30px;
  border-radius: 3rem;
}
#cloud_two::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background-color: #e5e5e5;
  top: -30px;
  left: 75px;
  border-radius: 3rem;
}
#cloud_three {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  width: 150px;
  background-color: #e5e5e5;
  left: -550px;
  top: -250px;
  border-radius: 3rem;
  animation-delay: 2s;
  animation: cloudmove3 12s infinite alternate linear;
}
#cloud_three::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background-color: #e5e5e5;
  top: -35px;
  left: 30px;
  border-radius: 3rem;
}
#cloud_three::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background-color: #e5e5e5;
  top: -30px;
  left: 75px;
  border-radius: 3rem;
}
#lighthut {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  top: -330px;
  height: 105px;
  width: 100px;
  background-color: #fff;
}
#lighthut #cells {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;
  width: 5px;
  left: -50px;
  background-color: #657B86;
}
#lighthut #cells::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 5px;
  left: 50px;
  background-color: #657B86;
}
#lighthut #cells::after {
  position: absolute;
  content: "";
  height: 5px;
  top: 50px;
  width: 100px;
  left: -22.5px;
  background-color: #657B86;
}
#lighthut #cap {
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: #9E110E;
  top: -50px;
  border-radius: 3rem 3rem 0 0;
}
#lighthut #cap::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 7.5px;
  background-color: #657B86;
  top: -30px;
  left: 45px;
  z-index: -1;
}
#lighthut #lightshine {
  position: absolute;
  height: 200px;
  width: 500px;
  background-color: #fff;
  left: 50px;
  top: -55px;
  clip-path: polygon(3% 38%,100% 35%,84% 75%,0 53%);
  opacity: 0.3;
  transform-origin: left;
  animation: rotatelight 16s infinite linear alternate;
}
#lighthut::before {
  position: absolute;
  content: "";
  top: 97.5px;
  left: -10px;
  height: 7.5px;
  width: 120px;
  background-color: #657B86;
}
#lighthut::after {
  position: absolute;
  content: "";
  left: -10px;
  height: 7.5px;
  width: 120px;
  background-color: #657B86;
}
#topbase {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  top: -150px;
  border-bottom: 75px solid #9E110E;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 75px;
}
#topbase::after {
  position: absolute;
  content: "";
  border-bottom: 75px solid #b1403e;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 45px;
}
#topmidbase {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 75px solid #e5e5e5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 105px;
}
#topmidbase .door {
  position: absolute;
  height: 35px;
  width: 30px;
  top: 20px;
  left: 37.5px;
  background-color: black;
  z-index: 1;
  border-radius: 2rem 2rem 0 0;
}
#topmidbase::after {
  position: absolute;
  content: "";
  border-bottom: 75px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 75px;
}
#botmidbase {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  top: 150px;
  border-bottom: 75px solid #9E110E;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 135px;
}
#botmidbase::after {
  position: absolute;
  content: "";
  border-bottom: 75px solid #b1403e;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 105px;
}
#botbase {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  top: 290px;
  border-bottom: 65px solid #e5e5e5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 165px;
}
#botbase .door {
  position: absolute;
  height: 40px;
  width: 30px;
  top: 25px;
  left: 67.5px;
  background-color: black;
  z-index: 1;
  border-radius: 2rem 2rem 0 0;
}
#botbase::after {
  position: absolute;
  content: "";
  border-bottom: 65px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 135px;
}
#floor {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 600px;
  left: -50px;
  height: 10px;
  background-color: #e5e5e5;
  top: 365px;
  opacity: 0.3;
}
@keyframes rotatelight {
  to {
    transform: rotateY(-180deg);
 }
  from {
    transform: rotateY(0deg);
 }
}
@-webkit-keyframes ray_anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
 }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
 }
}
@keyframes cloudmove {
  to {
    transform: translateX(60px) scale(0.5);
 }
  from {
    transform: translateX(0px) scale(0.5);
 }
}
@keyframes cloudmove2 {
  to {
    transform: translateX(-60px) scale(0.7);
 }
  from {
    transform: translateX(0px) scale(0.7);
 }
}
@keyframes cloudmove3 {
  to {
    transform: translateX(40px) scale(0.6);
 }
  from {
    transform: translateX(0px) scale(0.6);
 }
}